.top-page-wr{
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 8rem; 
}

.border-wr{
    text-align: center;
    border-bottom: 0.5px solid gray;
}

.logout-btn{
    width: 100px;
    height: 40px;
    float: right;
    border-radius: 20px;
    font-family: 'Unbounded', cursive;
    font-size: 60%;
    background-color: #e63950;
    border: 1px solid white;
    color: white;
    margin-top: 2rem;
}

.logout-btn:hover{
    background-color: white;
    border: 2px solid #e63950;
    color: black;
}