<div class="pokemon-container">
<app-pokemon-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" pokemonClicked="collectItem($event)"></app-pokemon-list-item>
</div>
<!--<div class="pokemon-container">
  <div *ngFor="let pokemon of pokemons" class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="pokemon-image-wr">
        <img [src]="pokemon?.sprites?.front_default" alt="image not available" class="pokemon-image">
      </div>
      <h1>{{ pokemon?.name }}</h1>
      </div>
      <div class="flip-card-back">
        <div class="pokemon-image-wr">
          <img [src]="pokemon?.sprites?.back_default" alt="image not available" class="pokemon-image">
        </div>
        <h1>{{ pokemon?.name }}</h1>
        <h5>Type:</h5>
        <h3>{{ pokemon.types[0].type.name}}</h3>
      </div>
    </div>
    <div class="btn-wr">
    <button (click)="collectItem(pokemon?.id)">Collect</button>
  </div>
  </div>
</div>-->
