<div class="top-page-wr" *ngIf="!checkPokemonLength">
  <h1>Your collected Pokémon</h1>
</div>
<div class="top-page-wr" *ngIf="checkPokemonLength">
  <h1>You have not collected any Pokémon</h1>
</div>
<div class="logout-btn-wr">
<button class="logout-btn" (click)="handleLogoutClick()">LOGOUT</button>
</div>
<div class="pokemon-container">       
    <div *ngFor="let pokemon of pokemons">    
    <app-pokemon-list-item [pokemon]="pokemon">
    </app-pokemon-list-item>
    <div class="btn-wr">
      <button (click)="handleRemoveClicked(pokemon?.id)">Remove</button>
    </div>
    </div>
  </div>