.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
  }
  
  .btn-wr{
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  
  .btn-wr button{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-family: 'Unbounded', cursive;
    background-color: #ffb000;
    border: 1px solid #00285c;
    color: #00285c;
    margin-bottom: 5rem;
  }
  
  .btn-wr button:hover{
    background-color: white;
    border: 2px solid white;
    color: #00285c;
  }