.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
  }
  
  .btn-wr{
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  
  .btn-wr button{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-family: 'Unbounded', cursive;
    background-color: #00285c;
    border: 2px solid white;
    color: white;
    margin-bottom: 5rem;
  }
  
  .btn-wr button:hover{
    background-color: white;
    border: 2px solid white;
    color: #00285c;
  }

  .logout-btn-wr{
    text-align: center;
    margin-top: 3rem;
  }

  .logout-btn{
    width: 100px;
    height: 40px;
    
    border-radius: 20px;
    font-family: 'Unbounded', cursive;
    font-size: 60%;
    background-color: #bb2c2c;
    border: 2px solid white;
    color: white;
    margin: auto;
    margin-right: -70rem;
  }

  .top-page-wr{
    color: white;
    text-align: center;
    border-bottom: 0.5px solid gray;
    width: 60%;
    margin: auto;
    margin-top: 7rem;
  }