header{
    padding: 1rem 3rem;
}

.default-header{
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon-logo{
    width: 200px;
}

#pikachu-logo{
    width: 50px;
}