header{
    padding: 1rem 7rem;
}

.default-header{
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon-logo{
    width: 200px;
}

#pikachu-logo{
    width: 50px;
}

#pikachu-wr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#pikachu-wr p{
    margin: 0;
    font-size: small;
}

#pikachu-wr{
    text-decoration: none;
}

.default-header a:visited, .default-header a:active .default-header a:link .default-header a:hover {
    color: white;
    text-decoration: none!important;
}