/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

html{
    height: 100%;
}

.login-bg{
    background-image: url('./assets/images/7921828.jpg');
    background-size: cover;
}

body{
    margin: 0;
    background-color: #002e69
}

:root{
    --primary-yellow-color: #ffcd01;
    --primary-blue-color: #095696;
    --primary-red-color: #e63950;
    --primary-purple-color: #c9c7ee;
    font-family: 'Unbounded', cursive;
}